<script>
    import Title from './slides/Title.svelte';
    import Projects from './slides/Projects.svelte';
    import LNMetrics from './slides/LNMetrics.svelte';
    import LNSpec from './slides/LNSpec.svelte';
    import SummerOfBitcoin from './slides/SummerOfBitcoin.svelte';
    import Conclusion from './slides/Conclusion.svelte';
</script>

<Title />
<Projects />
<LNMetrics />
<LNSpec />
<SummerOfBitcoin />
<Conclusion />
