<script>
  import Title from "./slides/Title.svelte";
  import Projects from "./slides/Projects.svelte";
  import LNMetrics from "./slides/LNMetrics.svelte";
  import LNSpec from "./slides/LNSpec.svelte";
  import SummerOfBitcoin from "./slides/SummerOfBitcoin.svelte";
  import WriteRio from "./slides/WriteRio.svelte";
</script>

<Title />
<Projects />
<LNMetrics />
<LNSpec />
<SummerOfBitcoin />
<WriteRio />
