<section>
  <section>
    <h4>Rust Warm up 🦕</h4>
    <p
      style="background-color: #373A3C; color: #ADB5BD;border-radius:25px;width:60%;text-align:left;padding:8px"
    >
      <span style="color:green;diplay:flex;margin-left:14px">➜</span>
      <span style="color:#ADB5BD">~</span> cargo new rust_101
    </p>
    <p>“Rewite it in rust is a dummy think to do.” — Me</p>
  </section>

  <section>
    <a href="https://imgbb.com/"
      ><img
        src="https://i.ibb.co/dQkBs29/Selection-265.png"
        alt="Selection-265"
        border="0"
      /></a
    >
    <p class="fragment">In this presentation we discuss an advanced topic!</p>
    <p class="fragment">
      This is the perfect place to start lerning <span
        class="fragment"
        style="color:#50fa7b"
      >
        I'm not joking.
      </span>
    </p>
  </section>

  <section>
    <h4>How <span style="color:orange"> rust </span> syntax looks like</h4>

    <a href="https://ibb.co/hKMqtHr"
      ><img
        src="https://i.ibb.co/RCS5VPt/carbon.png"
        alt="carbon"
        border="0"
      /></a
    >
    <div class="fragment">
      <a
        href="https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d2154a00ce7a6c9cbfcd3fc845520668"
        style="font-size:22px;margin-right:20px"
        >⚙️ Run it
      </a>
      <a
        style="margin-left:20px;font-size:22px"
        href="https://rust-unofficial.github.io/rust-practise-questions/about.html"
        >📚 Resolve Dummy problem</a
      >
    </div>
    <p
      style="background-color: #373A3C; font-size: 27px; color: #ADB5BD;border-radius:25px;width:100%;text-align:left;padding:8px"
      class="fragment"
    >
      <span style="color:green;diplay:flex;margin-left:14px">➜</span>
      <span style="color:#ADB5BD">~</span> git clone https://github.com/vincenzopalazzo/build-an-async-runtime.git
    </p>
  </section>

  <section>
    <h3>Final Warm up Stage</h3>
    <ul>
      <li class="fragment">
        You love Rust for the type system? <a
          href="https://github.com/rust-lang/types-team/issues/58"
        >
          See why it is broken
        </a>
      </li>
      <li class="fragment">You love Rust because is fast? Also C is fast</li>
      <li class="fragment">
        What do you like about rust async? <a
          href="https://github.com/rust-lang/rust/issues/102211"
        >
          See why I do not like it currently
        </a>
      </li>
    </ul>
    <p class="fragment" />
    <p
      style="background-color: #373A3C; font-size: 27px; color: #ADB5BD;border-radius:25px;width:100%;text-align:left;padding:20px"
      class="fragment"
    >
      thread 'main' panicked at 'there is no reactor running, must be called
      from the context of Tokio runtime'
    </p>
  </section>
</section>
