<section>
  <section>
    <h3>What is a Async Runtime ❓</h3>
    <p
      style="background-color: #373A3C; color: #ADB5BD;border-radius:25px;width:60%;text-align:left;padding:8px"
    >
      <span style="color:green;diplay:flex;margin-left:14px">➜</span>
      <span style="color:#ADB5BD">~</span> cargo run rio_warmap
    </p>
    <p>“Running something else while waiting someone else” — Me</p>
  </section>

  <section>
    <p style="color:#50fa7b;font-size:45px">
      Introduction<span style="color:orange">.await?</span>
    </p>
    <ul>
      <li class="fragment">
        Asynchronous programming (aka async), is a concurrent programming model
      </li>
      <li class="fragment">
        Perfect for achive performance by saving OS Thread and code ergonomic
      </li>
      <li class="fragment">
        Suport async programming, required to support a peace of software that
        coordinate the jobs
      </li>
      <li class="fragment">This peace of software is called Runtime</li>
    </ul>
    <a
      class="fragment"
      style="margin-left:20px;font-size:22px"
      href="https://blog.hedwing.dev/async-rust/rio/write_runtime"
      >📚 Write an Async Runtime for Rust
    </a>
  </section>
</section>
