<section>
  <section>
    <p
      style="background-color: #373A3C; color: #ADB5BD;border-radius:25px;width:30%;text-align:left;padding:8px"
    >
      <span style="color:green;diplay:flex;margin-left:14px">➜</span>
      <span style="color:#ADB5BD">~</span> whoami
    </p>
    <q
      >Student at university of Pisa, in the free time Side Project Developer!</q
    >
    <p>I spend my time in the open source ecosystem!</p>
  </section>
  <section>
    <h4>Some of my Current Interest/Work</h4>
    <ul>
      <li class="fragment">
        Developing <a href="https://github.com/lightning/bolts"
          >Lightning Network Protocol</a
        >;
      </li>
      <li class="fragment">
        Developing <a href="https://github.com/LNOpenMetrics">lnmetrics</a> with
        an open source grant;
      </li>
      <li class="fragment">
        Working in the linux kernel through the <a
          href="https://github.com/Rust-for-Linux">Rust for Linux</a
        > Initiative
      </li>
      <li class="fragment">
        Working on the Rust compiler (type system and async programming)
      </li>
    </ul>
  </section>
  <section>
    <div>
      <img
        src="https://media.makeameme.org/created/yeah-yeah-yeah-833b8fad5e.jpg"
      />
    </div>
    <q>C makes it easy to shoot yourself in the foot</q>
  </section>
</section>
