<section>
  <section>
    <h3>Async WG Vision 👀</h3>
    <q>
      move Async Rust beyond the "MVP" state it's in today and make it
      accessible to everyone
    </q>
    <div>
      <a
        style="margin-left:20px;font-size:22px"
        href="https://rust-lang.github.io/wg-async/vision.html"
        >📚 Full Reading</a
      >
    </div>
  </section>

  <section>
    <h4>What are the problem today?</h4>
    <ul>
      <li class="fragment">
        It is not possible declare an async function in a trait (available in
        nightly BTW)
      </li>
      <li class="fragment">Multiple runtime with different solution</li>
      <li class="fragment">
        Rust have in the std all the basic blocks but no API to support async
        programming
      </li>
    </ul>
  </section>

  <section>
    <h4>Rio Vision 👀</h4>
    <q>
      Experiment with the async API and try to propose a minimal and portable
      runtime
    </q>
    <p
      style="background-color: #373A3C; font-size: 35px; color: #ADB5BD;border-radius:25px;width:100%;text-align:left;padding:8px"
    >
      <span style="color:green;diplay:flex;margin-left:14px">➜</span>
      <span style="color:#ADB5BD">~</span> git clone https://github.com/vincenzopalazzo/rio.git
    </p>
  </section>
</section>
