<script>
</script>

<section>
  <section>
    <h3>Write an Async Runtime for Rust 🦀</h3>
    <img
      src="https://avatars.githubusercontent.com/u/17150045?v=4"
      width="150"
    />
    <p>
      <a href="https://github.com/vincenzopalazzo">vincenzopalazzo</a>
    </p>
    <a href="mailito:vincenzopalazzo@member.fsf.org"
      >vincenzopalazzo@member.fsf.org</a
    >

    <div align="center">
      <p><small> January 27th 2023 </small></p>
    </div>
  </section>

  <section>
    <h3>Overview</h3>
    <ul>
      <li>Rust Warm up 🦕</li>
      <li>What is a Async Runtime ❓</li>
      <li>Async WG Vision 👀</li>
      <li>Rio Vision 👀</li>
      <li>Write rio from scratch 🔫</li>
    </ul>
  </section>
</section>
