<section>
 <section>
   <h3>
     Final thoughts and Future
   </h3>
   <p>
     “You will never know if something is bad or good, because we don't know
      how this will affect the rest of your life!.” — Vincenzo Palazzo.
   </p>
 </section>
 <section>
   <h3> Final thoughts </h3>
   <p class="fragment"> Trying to build something meaningful for the ecosystem is hard! </p>
   <p class="fragment"> I would like to solve the problem not just for my project </p>
   <p class="fragment"> Required effort and more than one year to complete all </p>
   <p class="fragment"> Help is welcome! </p>
 </section>
 <section>
   <h3> Future </h3>
   <p class="fragment"> I would like to contribute also in somethings meaningful in Bitcoin Protocol Level </p>
   <p class="fragment"> Seeking some structured work to help to achieve some goals </p>
   <p class="fragment"> Also, I'm thinking how to use lnmetrics for the future, an idea can be </p>
   <p class="fragment"> Improve the cln pay algorithm? </p>
 </section>
 <section>
  <img src="https://c.tenor.com/HMOGzAB6LgcAAAAC/tough-question-hard-question.gif" />
 </section>
</section>
