        <section>
          <section>
            <h3>
              🧑🏼‍💻 Deep Dive into
              <a href="https://github.com/LNOpenMetrics">lnmetrics</a>
            </h3>
            <p>
              “If we have data, let’s look at data. If all we have are opinions,
              let’s go with mine.” — Jim Barksdale
            </p>
          </section>

          <section>
            <p>
              Question:
              <strong>
                How I can find the best node where to open a channel?
              </strong>
            </p>
            <p class="fragment">
              Question:
              <strong>
                How I can know what is the best node for my criteria?
              </strong>
            </p>
            <p class="fragment">
              Question: <strong> What are my criteria?</strong>
              <a href="shorturl.at/nKQY2"> shorturl.at/nKQY2 </a>
            </p>
            <p class="fragment">
              Question:
              <strong>
                Why we need a particular feature in the lightning network spec?
              </strong>
            </p>
            <p class="fragment">
              Metrics are important?
              <a
                href="https://www.reddit.com/r/lightningnetwork/comments/wzxdsw/node_metrics_are_important/?utm_source=share&utm_medium=web2x&context=3"
                >shorturl.at/mqxB8
              </a>
            </p>
          </section>

          <section>
            <p>🪖 Answer Time!</p>
            <p class="fragment">
              <img
                src="https://static.babycenter.com/user/5xYkfbRxgTBO3IYi/0a167440-5ade-4426-bf90-b1443d9c91cc.gif"
              />
            </p>
          </section>

          <section>
            <img
              src="https://media.tenor.com/uqmBD6ZjgtkAAAAM/okay-wow.gif"
              width="660"
              height="300"
            />
            <p class="fragment">
              How lnmetrics looks like? exist or we are wasting time?
            </p>
          </section>

          <section>
            <h3>🌏 lnmetrics architecture overview</h3>
            <p>
              <a href="https://ibb.co/1bSWZd7"
                ><img
                  src="https://i.ibb.co/R75w2BY/lnmetrics-architecture-drawio.png"
                  alt="lnmetrics-architecture-drawio"
                  border="0"
              /></a>
            </p>
            <p>
              <a href="https://hackmd.io/@brink/B1jx9DDQi"
                >https://hackmd.io/@brink/B1jx9DDQi
              </a>
            </p>
          </section>

          <section>
            <h4>🔄 lnmetrics workflow!</h4>
            <img src="https://i.ibb.co/tKbwKVJ/lnmetrics-workflow-drawio.png" />
            <p>
              <a href="https://hackmd.io/@brink/B1jx9DDQi"
                >https://hackmd.io/@brink/B1jx9DDQi
              </a>
            </p>
          </section>

          <section>
            <h4>⚠️ lnmetrics status!</h4>
            <p class="fragment">
              The alpha version is working quite well, but there are cln
              performance problem
            </p>
            <p class="fragment">
              Where we are working to proposal a solution for that, with tool
              like:
              <lu>
                <li class="fragment">
                  <a href="https://github.com/laanwj/cln4rust/pull/55">
                    rust cln gossip map
                  </a>
                </li>
                <li class="fragment">
                  <a href="https://github.com/lnspec-tools/lncodegen.rs">
                    lncodegen.rs
                  </a>
                </li>
                <li class="fragment">
                  <a href="https://github.com/vincenzopalazzo/galaxy">
                    galaxy
                  </a>
                </li>
                <li class="fragment">
                  Batch request API in cln (Idea Stolen from Package Relay,
                  thanks Gloria!)
                </li>
              </lu>
            </p>
            <p class="fragment">
              <a href="https://github.com/orgs/LNOpenMetrics/projects/1">
                Project Track
              </a>
            </p>
          </section>
        </section>
