     <section>
          <section>
            <h3>📌 Lightning Network Spec Process</h3>
            <p>Find my place to bring value to the lightning network spec!</p>
          </section>

          <section>
            <h4> 💢 Actual Difficulties</h4>
            <p class="fragment">
              Be involve in a spec process out of a corp it is painful!
            </p>
            <p class="fragment">
              Find a place where full focusing it is difficult!
            </p>
            <p class="fragment">
              Propose a small change where no one is interested is boring!
            </p>
          </section>

          <section>
            <p> 🧸 Case Study!</p>
            <p class="fragment">Vincent and the cooperation close workflow!</p>
            <p class="fragment">
              <img src="https://i.ibb.co/wKBGjYg/Selection-107.png" />
            </p>
            <p class="fragment">
              <a href="https://github.com/lightning/bolts/issues/985">#985 </a>
            </p>
          </section>

          <section>
            <p> 🔨 How goes? You fixed it?</p>
            <p class="fragment">
              Closed for lack of interest, but weeks later ...
            </p>
            <p class="fragment">
              <a href="https://ibb.co/ZdYMXKC"
                ><img
                  src="https://i.ibb.co/H7xH4YQ/Selection-108.png"
                  alt="Selection-108"
                  border="0"
              /></a>
            </p>
          </section>

          <section>
            <p> 🎯 Goals!</p>
            <p class="fragment">
              Find a mentor that help me to work on somethings to make an impact
              in the ecosystem!
            </p>
            <p class="fragment">Keep Review and Follow the meetings</p>
            <p class="fragment">Keep maintaining and improve lnprototest!</p>
          </section>
        </section>
