
       <section>
          <section>
            <h3>Projects Introduction</h3>
            <q>C makes it easy to shoot yourself in the foot</q>
          </section>
          <section>
            <p>
              🪤 From the middle of the 2019 I stated to contribute before as a
              user to cln (<a
                href="https://github.com/ElementsProject/lightning/issues/3048"
                >#3048</a
              >)
            </p>
            <p class="fragment">
              🔦 I start to contribute in the cln ecosystem by developing some
              tools in Java and Kotlin, all under the
              <a href="https://github.com/clightning4j"> clightning4j org</a>
            </p>
            <p class="fragment">
              🔫 From 2021 I start to heavily contribute to cln because
              <i>I love shoot myself in the foot</i> 🥸
            </p>
          </section>
          <section>
            <p>
              💣 From May 2020 Rusty made me the official maintainer of
              <a href="https://github.com/rustyrussell/lnprototest"
                >lnprototest</a
              >
            </p>
            <span>
              <p class="fragment">
                💣 Also I started many more projects around cln, such as:
              </p>
              <p class="fragment">
                <a href="https://github.com/laanwj/cln4rust"
                  >cln4rust (started by @laanwj)</a
                >
              </p>
              <p class="fragment">
                <a href="https://github.com/LNOpenMetrics">lnmetrics</a>
              </p>
              <p class="fragment">
                <a href="https://github.com/vincenzopalazzo/cln4go">cln4go</a>
              </p>
              <p class="fragment">
                <a href="https://github.com/dart-lightning">dart-lightning</a>
              </p>
              <p class="fragment">
                <a href="https://github.com/lnspec-tools/lncodegen.rs"
                  >lncodegen.rs</a
                >
              </p>
            </span>
          </section>
          <section>
            <img
              src="https://media.makeameme.org/created/what-the-fuck-4fdae08875.jpg"
              width="600"
              height="500"
            />
          </section>
          <section>
            <img
              src="https://i.ibb.co/S5L1HZW/upload.png"
              width="1000"
              height="500"
              alt="upload"
              border="0"
            />
            <p class="fragment">
              <a href="https://hackmd.io/@brink/B1jx9DDQi"
                >https://hackmd.io/@brink/B1jx9DDQi</a
              >
            </p>
          </section>
        </section>
