        <section>
          <section>
            <h3> 🥸 Summer of Bitcoin</h3>
            <q> Be the senior you needed when you where a junior! - Me! </q>
          </section>

          <section>
            <h4> 🧙🏼‍♂️  Me  ntoring 5 summer of Bitcoin!</h4>
            <lu>
              <li class="fragment"><a href="https://github.com/dart-lightning/lndart.clnapp"> lndart.clnapp </a> Cross Platform (real one) written in dart</li>
              <li class="fragment">
                <a href="https://github.com/dart-lightning/lndart.cln"> lndart.cln </a> dart tools for cln
              </li>
              <li class="fragment">
                <a href="https://github.com/vincenzopalazzo/cln4go"> cln4go </a> modern Go library for cln
              </li>
              <li class="fragment">
                <a href="https://github.com/clightning4j/ln-dashboard"> ln-dashboard </a> cln dashboard with Bolt 12 and lnmetrics
                (<a href="https://bruce.lnmetrics.info/">bruce.lnmetrics.info </a>)
              </li>
              <li class="fragment">
                <a href="https://github.com/lnspec-tools/lncodegen.rs"> lncodegen.rs </a>: Researching on lightning network serialization format (CSV)
              </li>
            </lu>
          </section>

          <section>
            <h4> 🧑🏼‍🔬 My Goal! </h4>
            <p class="fragment"> Each mentee should be able to write a library </p>
            <p class="fragment"> This library should be able to respect my criteria of library </p>
            <p class="fragment"> Build somethings useful with library built </p>
            <p class="fragment"> Improve the library with the auto feedback </p>
          </section>

          <section>
            <h4> 🎂 The Result! </h4>
            <p class="fragment" style="color:#50fa7b"> Quite good, the mentee was able to work with these new tech and languages</p>
            <p class="fragment" style="color:#50fa7b"> They works also together while testing how lightning network works </p>
            <p class="fragment" style="color:#ffb86c"> They want to know what was the clear solution to code </p>
          </section>

          <section>
            <h4> 🦥 Be a mentor means .... </h4>
            <p class="fragment" style="color:#ffb86c"> Should not teach how to code, but just improve the code produced</p>
            <p class="fragment" style="color:#50fa7b"> Should be able to unlock the mentee if it is stack for more that 1 day </p>
            <p class="fragment" style="color:#50fa7b"> Should teach how to produce good quality code </p>
            <p class="fragment" style="color:#ffb86c"> Should improve the mentee career! </p>
          </section>

        </section>
