<script>
</script>
<section>
          <section>
            <h3>Introduction to my Lightning Network work</h3>
            <img
              src="https://avatars.githubusercontent.com/u/17150045?v=4"
              width="150"
            />
            <p>
              Github
              <a href="https://github.com/vincenzopalazzo">vincenzopalazzo</a>
            </p>
            <a href="mailito:vincenzopalazzo@member.fsf.org"
              >vincenzopalazzo@member.fsf.org</a
            >

            <div align="center">
              <img
                src="https://brink.dev/assets/images/brink_logo.png"
                width="150"
              />
              <p><small> October 21th 2022 </small></p>
            </div>
          </section>

          <section>
            <h3>Overview</h3>
            <ul>
              <li>Projects Introduction</li>
              <li>
                Deep Drive into
                <a href="https://github.com/LNOpenMetrics">lnmetrics</a>
              </li>
              <li>Lightning Network Spec process</li>
              <li>Summer of Bitcoin</li>
              <li>Final thoughts and Future</li>
            </ul>
          </section>
        </section>
